# Entornos virtuales
venv/
env/
.venv/
__pycache__/
*.pyc

# Variables de entorno y secretos (¡CRÍTICO PARA SEGURIDAD!)
.env
.flaskenv

# Bases de datos locales
*.db
*.sqlite3
instance/

# Archivos subidos por usuarios (comprobantes de pago)
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDEs y SO
.vscode/
.idea/
.DS_Store
*.log
